doctype html

meta(charset='utf-8')
title Pole Zero Filter GUI
link(rel='stylesheet' href='styles/style.css')
script(type='text/javascript' src='vendor.js')

div.fill-horizontal.fill-vertical
	svg#score
#floaty.flex-container.flex-vertical.scalable
	#bar.flex-container.draggable.fill-horizontal(dragtarget='#floaty')
		.clickable.icon.triangle-left
		.bold
		.clickable.icon.triangle-right
	.divider-horizontal
	.flex-grow.fill-horizontal.slide-container(
			prevtarget='#bar .clickable.icon.triangle-left'
			nexttarget='#bar .clickable.icon.triangle-right'
			titletarget='#bar .bold')
		.slide-item
			.slide-title Poles
			#poles
				ul.list-input
		.slide-item
			.slide-title Zeros
			#zeros
				ul.list-input
		.slide-item
			.slide-title P/Z Plot
			svg#darts
		.slide-item.active
			.slide-title Options
			#options
				fieldset
					legend Resolution
					input(type='number' name='resolution' min=4 step=1)
				fieldset
					legend Gain
					input(type='number' name='gain' min=0)
				fieldset
					legend Frequency
					input(type='number' name='frequency' min=0)
				fieldset
					legend Axis
					label
						input(type='radio' name='axis' value='linear' checked)
						span Linear
					label
						input(type='radio' name='axis' value='logarithmic')
						span Logarithmic
				fieldset
					legend Import
					textarea(name='import' rows=2 placeholder='zeros = []\npoles = []')
				fieldset
					legend Export
					textarea(name='export' rows=4
						placeholder='B = []\nA = []\nzeros = []\npoles = []')
		.slide-item
			.slide-title Felix c:
			img(src='http://i.imgur.com/5vMbdQw.gif')

script(type='text/javascript' src='app.js')

