@import './triangle.styl'

color0 = #fff
color1 = #ddd
color2 = #666
color3 = #000

.clickable
	cursor : pointer

.icon.triangle-left
	triangle-generator(10px, 10px, color2, 'w')

.icon.triangle-right
	triangle-generator(10px, 10px, color2, 'e')

.flex-container
	display : flex
	align-items : center
	justify-content : space-between

	.flex-grow
		flex : 1

.flex-container.flex-vertical
	flex-direction : column

.slide-container

	.slide-item
		display : none
		width   : 100%
		height  : 100%

		.slide-title
			display : none

	.slide-item.active
		display : block

.divider-horizontal
	width  : 100%
	height : 0
	border-bottom-style : solid
	border-bottom-width : 1px

.bold
	font-weight : bold

img
	width  : auto
	height : auto
	max-width  : 100%
	max-height : 100%

body
	width    : 100vw
	height   : 100vh
	margin   : 0
	overflow : hidden

.draggable
	user-select : none

.fill-horizontal
	width : 100%

.fill-vertical
	height : 100%

.scalable
	corner-size = 8px
	min-width  : corner-size
	min-height : corner-size

	.scalable-corner
		triangle-generator(corner-size, corner-size, color2, 'se')
		position : absolute
		bottom   : 0
		right    : 0
		cursor   : se-resize
		user-select : none

plot-dimensions(width, height, top, right, bottom, left)
	padding-top    : top
	padding-right  : right
	padding-bottom : bottom
	padding-left   : left
	width  : 'calc(%s - %s - %s)' % (width  left right )
	height : 'calc(%s - %s - %s)' % (height top  bottom)

#score
	plot-dimensions(100%, 100%, 20px, 20px, 30px, 50px)

	path.line
		fill   : none
		stroke : steelblue
		stroke-linejoin : round
		stroke-linecap  : butt
		stroke-width    : 1.5

#darts
	plot-dimensions(100%, 100%, 30px, 30px, 30px, 30px)
	overflow : hidden

	.r-axis
		circle.scale
			fill   : none
			stroke : color2
			stroke-dasharray : 5, 7 // perfect spacing

		circle.unit
			@extend #darts .r-axis circle.scale
			stroke : steelblue
			stroke-dasharray : none

		line
			@extend #darts .r-axis circle.scale

		text
			font-size : 8pt
			transform : rotate(-15deg)
			text-anchor : middle


#options
	position : absolute
	left     : 0
	top      : 0
	height   : 200px
	width    : 200px
	min-height       : 100px
	min-width        : 100px
	border-width     : 1px
	border-style     : solid
	background-color : hsla(0, 0, 100%, 0.8)

	.draggable.fill-horizontal
		background-color : color1
		// border-bottom-width : inherit
		// border-bottom-style : inherit

	.slide-container
		overflow-y : hidden

	#poles
	#zeros
		overflow-y : auto
